* {
    border: 0;
    padding: 0;
}
body {
    width
}

table, th, td {
    border: solid 2px #ccc;
    border-collapse: collapse;
    padding: 5px;
    
}

h3, .teste {
    text-align: center;
}

.tabela {
    background-color: red;
    color: white;
}

ul, .disc {
	list-style-type: disc;
}

.lista {
    background:lightgray;
  }